*, *:before, *:after {box-sizing:  border-box !important;}

html{
	/*font-size: 16px;*/
	/*font-size: 2vmin;*/
	font-size: 1.1vw;
}

html, body{
	margin: 0;
	height: 100%;
}

/*

font-family: big-caslon-fb, serif;
	font-weight: 400;

 */

body{
	font-family: "Colaborate", sans-serif;
	font-style: normal;
	line-height: 1.25em;
}






.drawer{
	height: 100vh;
	position: absolute;
	top: 0;
	overflow: auto;
	overflow-x: hidden;
}

/* ==========================================================================
   TITLE DRAWER
   ========================================================================== */

#title{
	left:0;
	background: #FFF;
	/*width: 250px;*/
	width: 17.36vw;
	/*padding: 47px;*/
	padding: 3.26vw; 

	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 12.5vw auto 4rem 2.5rem 1rem;
	grid-template-areas: 
	"logo-bloc"
	"main-menu"
	"languages"
	"contact"
	"btn-newsletter";
	justify-items: start;
}

#title h1{
	grid-area: logo-bloc;
}

#title #main-menu{
	grid-area: main-menu;
}

#title .languages{
	grid-area: languages;
}

#title #contact{
	grid-area: contact;
}

#title #btn-newsletter{
	grid-area: btn-newsletter;
}

#logo{
	width: 8.1818rem; /* 9vw */ 
	height: auto;
}

/*#btn-newsletter{
	position: absolute;
	bottom: 47px;
}*/

#content{
	/*left:250px;*/
	left: 17.36vw;
	right: 0;
}

#info{
	left: 0;
	background: #F2E0CD;
	/*padding:33px 64px;*/
	padding: 2.29vw 4.44vw;
	cursor: pointer;
}

#main{
	right: 0;
	background: #000;
	color: #FFF;
}

.maintenance #main{
	padding:90px 85px;
}

#info, #main{
	transition: width 2s ease, top 2s ease;
}

#title nav#contact{
}

#title #btn-newsletter{
}


/* ==========================================================================
   INFO DRAWER 
   ========================================================================== */
#info{
	/*width: 35%;*/
	/*width: 24%; */
	width: 19.8336vw; /* 82.64 */
}

#info *{
	opacity: 1;
	transition: opacity 1s ease;
}

#info.loading{
	/*width: 72px;*/
}

#info.loading * {
	/*display: none;*/
	opacity: 0;
}

/* ==========================================================================
   MAIN DRAWER 
   ========================================================================== */
#main{		
	/*width: 65%;*/
	/*width: 76%;*/
	width: 62.8064vw; /* 82.64 */
}
#main.loading{
	/*width: calc(100% - 72px);*/
	/*width: calc(100% - 5vw);*/
	width: 77.64vw;
}
#main-content{
	margin: 0.4vw;
}



/* ==========================================================================
   comment
   ========================================================================== */
.drawer.loading .togglebloc.hideonclose{
	display: block;
}
.drawer.loading .togglebloc.hideonopen{
	display: none;
}


.drawer .togglebloc.hideonclose{
	display: none;
}
.drawer .togglebloc.hideonopen{
	display: block;
}


/* ==========================================================================
   TEXTE
   ========================================================================== */

main.texte h1,
main.texte h2,
main.texte h3{
	font-family: big-caslon-fb, serif;
	font-weight: 400;
	line-height: 1em;
}

main.texte h1{
	font-size: 2rem;
	margin-bottom: 0.875em;
}

.txt-normal{
}

.serif{
	font-family: big-caslon-fb, serif;
	font-weight: 400;
}

header.intro{
	position: relative;
}

header.intro h2{
	font-family: big-caslon-fb, serif;
	font-weight: 400;
	font-size: 2.95rem;
	line-height: 2.95rem;
	/*margin: 1rem 2rem;*/
	position: absolute;
	bottom: 1.175rem;
	left: 1vw;
	margin: 0;
}

main h2{
	font-family: big-caslon-fb, serif;
	font-weight: 400;
	font-size: 2.95rem;
	line-height: 2.95rem;
	margin: 1rem 1vw;
}
main h3{
	font-family: big-caslon-fb, serif;
	font-weight: 400;
	font-size: 1rem;
	margin: 1rem 1vw;
}

.text{
	margin: 2rem 1vw;
	/*max-width: 35rem;*/
}

.text img{
	max-width: 100%;
	height: auto;
}

#map{
	/*width: 100%;*/
	/*margin: 1vw;*/
	height: 300px;
}

p+p{
	margin-top: 1rem;
}



/* ==========================================================================
   ITEMS
   ========================================================================== */

a{
	color: inherit;
	text-decoration: none;
}

button{
	background: none;
	border:0;
	padding: 0;
	margin: 0;
	/*font-family: big-caslon-fb, serif;*/
	/*font-size: 0.875rem;*/
	font-size: 1rem;
	cursor: pointer;
	font-family: inherit;
	color: #000;
}

#main-menu .sub-menu{
	display: none;
}

#main-menu a{
	transform-origin: center 55%;
	display: inline-block;
}
#secondary-menu a{
	transform-origin: center 55%;
	display: inline-block;
}

#main-menu .selected a,
#secondary-menu .active a{
	transform: rotate(180deg);
}

#secondary-menu .sub-menu{
	display: none;
}

#secondary-menu .sub-menu.show{
	display: block;
}

#secondary-menu ul{
	margin-top: 14.9vw;
}

#secondary-menu li{
	font-family: big-caslon-fb, serif;
	font-weight: 400;
	font-size: 1.7rem;
	line-height: 1.35em;
	margin-bottom: 2rem;
}


.mirror{
	transform: rotate(180deg);
	transform-origin: center;
	display: block;
}

.social-container{
	margin: 1rem 1vw;
}

#contact img,
.social-container img{
	width: 1.7045rem;
	/*width: 1.875vw;*/
	height: auto;	
}



/*.links a{
	color: #000;
	text-decoration: none;
	font-size: 1rem;
	display: inline-block;
	margin-right: 0.1rem;
	min-width: 1.5rem;
	text-align: center;

	-webkit-text-stroke: 1px white;
	text-shadow:
		-0.5px -0.5px 0 #FFF,  
		0.5px -0.5px 0 #FFF,
		-0.5px  0.5px 0 #FFF,
		0.5px  0.5px 0 #FFF;

	border: solid 0.8px #FFF;
	padding: 0.2rem;
	border-radius: 0.15rem;
}*/
/*
	-webkit-text-stroke: 1px black;
	color: white;
	text-shadow:
		3px 3px 0 #000,
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px  1px 0 #000,
		1px  1px 0 #000;
 */

.gallery{
	background: #111;
}

.gallery,
.gallery figure,
.gallery img{
	height: 26.4vw;
	transition: height 2s ease;
}

/*
	width: 62.8064vw
	width: 77.64vw
*/

#main.loading .gallery,
#main.loading .gallery figure,
#main.loading .gallery img{
	height: 32.6351vw;
}



.gallery img{
	width: auto;
}

.slick-arrow{
	display: none !important;
	height: 0;
}

 .slick-dots{
 	position: absolute;
 	bottom: 1rem ;
 	width: 100%;
 	left: 1rem;
 	right: 1rem;
 	text-align: center;
	z-index: 3000;
 }

 .slick-dots li{
	position: relative;
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.slick-dots li button{
 	font-size: 0;
	line-height: 0;
	display: block;
	width: 0.5rem;
	height: 0.5rem;
	padding: 0.5rem;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
 }

.slick-dots li button:before {
	font-size: 1rem;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	content: ' ';
	text-align: center;
	/*opacity: .25;*/
	background: transparent;
	border: solid white 2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
	/*opacity: .75;*/
	background: white;
}

/* ==========================================================================
   TITLE Content 
   ========================================================================== */

#main-menu li{
	font-family: big-caslon-fb, serif;
	font-weight: 400;
	font-size: 2.45rem;
	line-height: 1.65em;
}


.languages li{
	/*display: inline-block;*/
	/*font-family: "Colaborate";*/
	padding: 0;
	margin: 0;
}

.languages li+li:before{
	/*content: "\\";*/
}

.languages li a{
	text-decoration: none;
	color: #000;
	text-transform: capitalize;
}

.languages li.active a{
	/*text-decoration: underline;*/
	font-weight: bold;
}




/* ==========================================================================
   INFO Content
   ========================================================================== */
/*#info h1{
	font-size: 3.1875rem;
	margin-bottom: 2.1875rem;
}

#info>div{
	margin-bottom: 30px;
}

#info>div h2{
	font-size: 1.625rem;
	font-family: "Colaborate";
	font-weight: 300;
}

#info>div p{
	font-size: 1.25rem;
	font-family: "Colaborate";
	font-weight: 300;
}
*/

/* ==========================================================================
   MAIN Content
   ========================================================================== */

main.texte{
	padding:2.3rem 1.075rem; /* 47px 22px */
}

main.texte a{
	text-decoration: underline;
}

/*#main #contact{
	position: absolute;
	bottom: 53px;
	right: 60px;
}

#main .togglebloc{
	position: relative;
} 

.togglebloc .lang{
	opacity: 0;
    animation-name: lang-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}*/


@keyframes lang-animation {
    0% {
    	opacity:0;
    }
    20%{
    	opacity: 1;
    }
    80%{
    	opacity: 1;
    }
    100% {
		opacity:0;
    }
}





/* ==========================================================================
   Newsletter
   ========================================================================== */

#newsletter{
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
	transform-origin: center center;
    animation-name: newsletter-close-animation;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    visibility: hidden;
    z-index: 5000;
}

#newsletter.open{
	visibility: visible;
	transform: scale(0.7) ;
    animation-name: newsletter-open-animation;
}

@keyframes newsletter-open-animation {
    0% {
    	opacity:0;
    	transform: scale(0.7) ;
    }
    100% {
		opacity:1;
		transform: scale(1);
    }
}

@keyframes newsletter-close-animation {
    0% {
		opacity:1;
		transform: scale(1);
    }
    100% {
    	opacity:0;
    	transform: scale(0.7) ;
    	visibility: hidden;
    }
}



#newsletter input{
	border: #FFF solid 1px;
	color: #FFF;
	background: #000;
	font-size: 2rem;
	padding: 0.5rem;
	font-family: big-caslon-fb, serif;
	letter-spacing: 0.15rem;
}

#newsletter p+p{
	margin-top: 1rem;
}

#newsletter a{
	color: #FFF;
	text-decoration: none;
}

#btn-send{
	color: #FFF;
	font-size: 2rem;
	padding: 0.5rem;
}

#btn-close{
	position: absolute;
	top: 43px;
	right: 43px;
	color: #FFF;
}


/* ==========================================================================
   MAIN content
   ========================================================================== */

main{
}

main.grid{
	margin: 0.4vw;
	column-count: 2;
	column-gap: 0.4vw;
}

.loading main.grid{
	margin: 0.4vw;
	column-count: 3;
	column-gap: 0.4vw; 
}

.tile{
	display: inline-block;
	/*padding: 5px;*/
	margin-bottom: 0.4vw;
	position: relative;
	width: 100%;
}
.tile h2{
	font-family: big-caslon-fb, serif;
	font-weight: 400;
	font-size: 2.95rem;
	line-height: 1em;
	position: absolute;
	bottom: 1.175rem;
	left: 10px;
	text-align: left;
}
.tile img{
	width: 100%;
	height: auto; 
}

.tile .gradient{
	background: linear-gradient(to top, rgba(0,0,0,0.8) 0%,rgba(216,216,216,0) 100%);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

header.intro{

}

header.intro .gradient{
	background: linear-gradient(to top, rgba(0,0,0,0.8) 0%,rgba(216,216,216,0) 100%);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/*
main.grid {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	-moz-column-gap: 7px;
	-webkit-column-gap: 7px; 
}

main.grid .tile {
	background: #111;
	display: inline-block;
	margin:  0.25rem;
	width:  100%;
	position: relative;
	min-height: 150px;
}

main.grid .tile img{
	width: 100%
}


main.grid .tile h2{
	position: absolute;
	bottom: 10px;
	right: 10px;
	text-align: right;
}

main.grid .tile a h2{
	text-decoration: none;
	color: #FFF;
}*/





/* ==========================================================================
   RESPONSIVE
   ========================================================================== */

@media screen and (max-width: 1000px ){

/*	html{
		font-size: 14px;
	}
*/
}
@media screen and (max-width: 500px ){

	html{
		font-size: 20px;
	}

	body{
		background: #000;
	}

	.drawer{
		height: auto;
		position: static;
		top: auto;
		overflow: visible;
		overflow-x: visible;
	}

	#title{
		width: auto;
		height: auto;
		display: block;
		padding: 17px;
	}

	#content{
		width: auto;
		height: auto;
		padding: 0;
		left: auto;
		right: auto;
	}

	#info{
		left: auto;
		right: auto;
		width: auto;
		padding: 33px 26px;
		transition: max-height 2s;
		/*max-height: 100vh;*/
	}

	#info.loading{
		width: auto;
		max-height: 60px;
	}

/*	#title{
		left:0;
		background: #FFF;
		width: 17.36vw;
		padding: 3.26vw; 

		display: grid;
		grid-template-columns: auto;
		grid-template-rows: 12.5vw auto 4rem 2.5rem 1rem;
		grid-template-areas: 
		"logo-bloc"
		"main-menu"
		"languages"
		"contact"
		"btn-newsletter";
		justify-items: start;
	}
*/

	#main{
		width: auto;
		height: auto;
		left: auto;
		right: auto;
		padding:60px 15px;
		position: relative;
	}

	#main #cases{
	}

	#main #intro{
	}

	#main.loading{
		width: auto;
	}



	.togglebloc .lang{
		margin-bottom: 100px;
		font-size: 1.5625rem;
		line-height: 1.25em;
		max-width: 100%;
	}

	#main #contact{
		position: fixed;
		right: 17px;
		bottom: 17px;
	}

	#btn-newsletter{
		position: absolute;
		bottom: 47px;
		display: none;
	}

	#main #contact img{
		width: 20px;
		height: auto;
	}

	#main #contact .btn-mail{
		position: relative;
		top: -1px;
	}



	#secondary-menu ul{
		margin-top: 1rem;
	}

	#secondary-menu li{
		margin-bottom: 0.5rem;
	}




	main.grid,
	.loading main.grid{
		column-count: 1;
	}

	.tile h2{
		font-size: 1.95rem;
		bottom: 0.875rem;
		left: 10px;
	}



	.gallery,
	.gallery figure,
	.gallery img{
		height: 250px;
	}

}

@media screen and (max-width: 370px ){
	html{
		font-size: 12px;
	}
}
